# Entorno (development, production)
NODE_ENV=development

# Base de datos (SQLite para dev, PostgreSQL/Supabase para producción)
DATABASE_URL="file:./dev.db"

# Puerto del servidor
PORT=3000

# Supabase (para la próxima iteración)
# SUPABASE_URL=
# SUPABASE_ANON_KEY=
# SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWT_SECRET="el_jwt_secret_de_tu_proyecto_supabase"
